
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- TemplateBeginEditable name="doctitle" -->
<title>Untitled Document</title>
<!-- TemplateEndEditable -->
<!-- TemplateBeginEditable name="head" -->
<!-- TemplateEndEditable -->
    <style>
    th {text-align: left}
    .submit{
        background-color: #00bb00;
        border : none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display:inline-block;
        font-size: 16px;
    }
</style>
</head>
<body bgcolor="#f0f8ff">
<form action="" method="post"><table width="821" align="center" class="table table-hover">
    <h1 align="center">IQ TEST</h1>
  <tr >
      <td ><p>1. fill the figure</p>
    <p><img src="../static/iqimages/IQq2(1-6).jpg"   /></p></td></tr>
     <tr><td> <p>
        <label>
          <input type="radio" name="q1" value="1" id="RadioGroup1_0" checked/>
          1</label>
        <br />
        <label>
          <input type="radio" name="q1" value="2" id="RadioGroup1_1"/>
          2</label>
        <br />
        <label>
          <input type="radio" name="q1" value="3" id="RadioGroup1_2" />
          3</label>
        <br />
        <label>
          <input type="radio" name="q1" value="4" id="RadioGroup1_3"/>
          4</label>
        <br />
        <label>
          <input type="radio" name="q1" value="5" id="RadioGroup1_4" />
          5</label>
        <br />
        <label>
          <input type="radio" name="q1" value="6" id="RadioGroup1_5" />
          6</label>
        <br />
        <label>
          <input type="hidden" name="aq1" value="4" id="RadioGroup1_6" />
          </label>
        <br />
      </p></td>
  </tr>
  <tr>
    <td height="256">
      <p>2. Complete the figure :      </p>
      <p><img src="../static/iqimages/IQq4(1-6).jpg" width="374" height="206" /></p>
      <p>
        <label>
          <input type="radio" name="q2" value="1" id="RadioGroup1_7" checked/>
          1</label>
        <br />
        <label>
          <input type="radio" name="q2" value="2" id="RadioGroup1_8" />
          2</label>
        <br />
        <label>
          <input type="radio" name="q2" value="3" id="RadioGroup1_9" />
          3</label>
        <br />
        <label>
          <input type="radio" name="q2" value="4" id="RadioGroup1_10"/>
          4</label>
        <br />
        <label>
          <input type="radio" name="q2" value="5" id="RadioGroup1_11"/>
          5</label>
        <br />
        <label>
          <input type="radio" name="q2" value="6" id="RadioGroup1_12" />
          6</label>
        <br />
        <label>
          <input type="hidden" name="aq2" value="5" id="RadioGroup1_13"/>
        </label>
        </p>
      <p><br />
      </p></td>
  </tr>
  <tr>
    <td><p>3. Complete the figure: </p>
      <p><img src="../static/iqimages/IQq8.jpg" width="370" height="278" /></p>
      <p>
        <label>
          <input type="radio" name="q3" value="1" id="RadioGroup1_14" checked  />
          1</label>
        <br />
        <label>
          <input type="radio" name="q3" value="2" id="RadioGroup1_15"  />
          2</label>
        <br />
        <label>
          <input type="radio" name="q3" value="3" id="RadioGroup1_16"/>
          3</label>
        <br />
        <label>
          <input type="radio" name="q3" value="4" id="RadioGroup1_17" />
          4</label>
        <br />
        <label>
          <input type="radio" name="q3" value="5" id="RadioGroup1_18"/>
          5</label>
        <br />
        <label>
          <input type="radio" name="q3" value="6" id="RadioGroup1_19" />
          6</label>
        <br />
        <label>
          <input type="hidden" name="aq3" value="5" id="RadioGroup1_20" />
        </label>
        <br />
        <br />
      </p></td>
  </tr>
  <tr>
    <td><p>4. Fill the figure:</p>
      <p><img src="../static/iqimages/IQq5.jpg" width="386" height="260" /></p>
      <p>
        <label>
          <input type="radio" name="q4" value="1" id="RadioGroup1_21" checked  />
          1</label>
        <br />
        <label>
          <input type="radio" name="q4" value="2" id="RadioGroup1_22" />
          2</label>
        <br />
        <label>
          <input type="radio" name="q4" value="3" id="RadioGroup1_23"/>
          3</label>
        <br />
        <label>
          <input type="radio" name="q4" value="4" id="RadioGroup1_24" />
          4</label>
        <br />
        <label>
          <input type="radio" name="q4" value="5" id="RadioGroup1_25"/>
          5</label>
        <br />
        <label>
          <input type="radio" name="q4" value="6" id="RadioGroup1_26"/>
          6</label>
        <br />
           <label>
          <input type="radio" name="q4" value="7" id="RadioGroup1_27" />
          7</label>
        <br />
           <label>
          <input type="radio" name="q4" value="8" id="RadioGroup1_28" />
          8</label>
        <br />
        <label>
          <input type="hidden" name="aq4" value="6" id="RadioGroup1_29" />
        </label>
        </p>
      <p><br />
      </p></td>
  </tr>
  <tr>
    <td><p>&nbsp;</p>
      <p>5.What is the number that is one half of one quarter of one tenth of 400?.</p>
      <p>
        <label>
          <input type="radio" name="q5" value="1" id="RadioGroup1_28" checked/>
          26</label>
        <br />
        <label>
          <input type="radio" name="q5" value="2" id="RadioGroup1_29" />
          8</label>
        <br />
        <label>
          <input type="radio" name="q5" value="3" id="RadioGroup1_30" />
          40</label>
        <br />
        <label>
          <input type="radio" name="q5" value="4" id="RadioGroup1_31" />
          5</label>
        <br />
        <label>
          <input type="radio" name="q5" value="5" id="RadioGroup1_32" />
          12</label>
        <br />
        <label>
          <input type="hidden" name="aq5" value="4" id="RadioGroup1_33" />
        </label>
        </p>
      <p><br />
      </p></td>
  </tr>
  <tr>
    <td><p>6 . 121,144,169,196 ... What's next?</p>
      <p>
        <label>
          <input type="radio" name="q6" value="1" id="RadioGroup1_34" checked />
          205</label>
        <br />
        <label>
          <input type="radio" name="q6" value="2" id="RadioGroup1_35" />
          215</label>
        <br />
        <label>
          <input type="radio" name="q6" value="3" id="RadioGroup1_36" />
          255</label>
        <br />
        <label>
          <input type="radio" name="q6" value="4" id="RadioGroup1_37" />
          225</label>
        <br />
        <label>
          <input type="radio" name="q6" value="5" id="RadioGroup1_38" />
          269</label>
        <br />
        <label>
          <input type="hidden" name="aq6" value="4" id="RadioGroup1_39" />
        </label>
        </p>
      <p><br />
      </p></td>
  </tr>
  <tr>
    <td><p>&nbsp;</p>
      <p>7 . The day before the day before yesterday is three days after Saturday. What day is it today?.</p>
      <p>
        <label>
          <input type="radio" name="q7" value="1" id="RadioGroup1_40" checked />
          Monday</label>
        <br />
        <label>
          <input type="radio" name="q7" value="2" id="RadioGroup1_41" />
          Tuesday</label>
        <br />
        <label>
          <input type="radio" name="q7" value="3" id="RadioGroup1_42" />
          Wednesday
        </label>
        <br />
        <label>
          <input type="radio" name="q7" value="4" id="RadioGroup1_43" />
          Thursday</label>
        <br />
        <label>
          <input type="radio" name="q7" value="5" id="RadioGroup1_44" />
          Friday</label>
        <br />
        <label>
          <label>
          <input type="radio" name="q7" value="6" id="RadioGroup1_45" />
          Saturday</label>
        <br />
        <label>
          <input type="hidden" name="aq7" value="5" id="RadioGroup1_45" />
        </label>
        </p>
      <p><br />
      </p></td>
  </tr>
  <tr>
    <td><p>&nbsp;</p>
      <p>8. At the end of a meeting 10 people shake hands with each other. How many handshakes will there be in total?.</p>
      <p>
        <label>
          <input type="radio" name="q8" value="1" id="RadioGroup1_46" checked />
          90</label>
        <br />
        <label>
          <input type="radio" name="q8" value="2" id="RadioGroup1_47" />
          100</label>
        <br />
        <label>
          <input type="radio" name="q8" value="3" id="RadioGroup1_48" />
          45</label>
        <br />
        <label>
          <input type="radio" name="q8" value="4" id="RadioGroup1_49" />
          9</label>
        <br />
        <label>
          <input type="radio" name="q8" value="5" id="RadioGroup1_50" />
          36</label>
        <br />
        <label>
          <input type="radio" name="q8" value="6" id="RadioGroup1_51" />
          46<br />
        </label>
         <label>
          <input type="hidden" name="aq8" value="3" id="RadioGroup1_52" />
          <br />
        </label>
        <br />
      </p></td>
  </tr>
  <tr>
    <td><p>&nbsp;</p>
      <p>9 . What is the next number in the series: 7, 10, 16, 28, 52, ___</p>
      <p>
        <label>
          <input type="radio" name="q9" value="1" id="RadioGroup2_0" checked />
          88</label>
        <br />
        <label>
          <input type="radio" name="q9" value="2" id="RadioGroup2_1" />
          100</label>
        <br />
        <label>
          <input type="radio" name="q9" value="3" id="RadioGroup2_2" />
          66</label>
        <br />
        <label>
          <input type="radio" name="q9" value="4" id="RadioGroup2_3" />
          76</label>
        <br />
        <label>
          <input type="radio" name="q9" value="5" id="RadioGroup2_4" />
          94
        </label><br />
         <label>
           <input type="hidden" name="aq9" value="2" id="RadioGroup2_5" />
           
         </label>
        </p>
      <p><br/>
      </p></td>
  </tr>
  <tr>
    <td><p>&nbsp;</p>
      10.<p> 250 people attended the first showing. Of the 250, 75 were adults above the age of 40, 50 were between the ages of 20 and 40, and 25 were teenagers ages 13-19. What percentage of the attendees were children 12 and under?</p>
      <p>
        <label>
          <input type="radio" name="q10" value="1" id="RadioGroup1_53" checked />
          100%</label>
        <br />
        <label>
          <input type="radio" name="q10" value="2" id="RadioGroup1_54" />
          25</label>
        %
        <br />
        <label>
          <input type="radio" name="q10" value="3" id="RadioGroup1_55" />
          50%</label>
        <br />
        <label>
          <input type="radio" name="q10" value="4" id="RadioGroup1_56" />
          60%</label>
        <br />
        <label>
          <input type="radio" name="q10" value="5" id="RadioGroup1_57" />
          36%</label>
        <br />
        <label>
          <input type="radio" name="q10" value="6" id="RadioGroup1_58" />
          40%
        </label> <br />
         <input type="hidden" name="aq10" value="6" id="RadioGroup1_59" />
          </label>
        <br />
        </p>
      <p><br />
      </p></td>
  </tr>
  <tr>
    <td><input type="submit" name="submit" id="button" value="Submit"  class="submit"/></td>
  </tr>
</table>
</form>
</body>
</html>
