{% extends "studenthome.html" %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>RegistrationForm</title>
</head>

<body bgcolor="#f0f8ff">
<h2 align="center">MY PROFILE</h2>
<form action="" method="post">
    <table  width="450" height="388" cellspacing="10" align="center" class="table table-hover" >
  <tr>
    <td>Name</td>
    <td><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" value="{{ data['name'] }}"  class="form-control" readonly/></td>
  </tr>

  <tr>
    <td>Age</td>
    <td><label for="textfield2"></label>
      <input type="text" name="textfield2" id="textfield2" value="{{ data['age'] }}"  class="form-control" readonly /></td>
  </tr>

  <tr>
    <td>Gender</td>
    <td><label for="textfield3"></label>
        <input type="text" name="radio" id="radio" value="{{ data['gender'] }}"   class="form-control" readonly/></td>
  </tr>

        <tr>
      <td>Highest Qualification</td>
      <td><label for="textfield9"></label>
        <input type="text" name="textfield9" id="textfield9" value="{{ data['quali'] }}" class="form-control" readonly /></td>
      </tr>

    <tr>
     <td>Stream</td>
     <td><label for="select2"></label>
       <input type="text" name="select2" id="select2" value="{{ data['stream'] }}" class="form-control" readonly/>
       </td></tr>
    <tr>
      <td>Average Mark</td>
      <td><label for="textfield13"></label>
        <input type="text" name="textfield13" id="textfield13" value="{{ data['mark'] }}" class="form-control" readonly />
        </td>
      </tr>
    <tr>

    <tr>
    <td>email</td>
    <td><label for="textfield14"></label>
      <input type="text" name="textfield14" id="textfield14"   value="{{ data['email'] }}" class="form-control" readonly/></td>
  </tr>


  <tr>
    <td>Phone Number</td>
    <td><label for="textfield17"></label>
      <input type="text" name="textfield17" id="textfield17"  value="{{ data['phone'] }}" class="form-control" readonly /></td>
  </tr>

  <tr>
    <td>Place</td>
    <td><label for="textfield18"></label>
      <input type="text" name="textfield18" id="textfield18"  value="{{ data['place'] }}" class="form-control" readonly /></td>
  </tr>

</table>
</form>
</body>
</html>
{% endblock %}